.barras{
    /* background-color: rgba(8, 20, 53, 0.767); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__img{
    margin: 0 auto;
    margin-top: 15px;  
    transform: scale(0.7);  
}

.nav__img:hover{
    transform: scale(0.8);
    transition: 0.4s;
} 

.footer__img{
    transform: scale(0.4);  
    display: flex;
    justify-content: end;
    align-self: flex-end;
}