html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

main{
    background-image: linear-gradient(
        0deg,
        rgba(204, 150, 34, 0.836) 11.2%,
        rgba(236, 226, 191, 0.356) 100.2%
        );
        max-height: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        align-content:flex-start;
        flex-direction: column;
    }

#encriptador{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content:space-evenly;
    gap:30px;
    width: 100vw;
    height: 100vh;
    /*con esta altura hay problema cuando 
    el contenido del texto traduciod es muy grande,
    se sale del fondo*/
     max-height: 100%;    max-height: 100%;
    max-width: 100%;
    margin: 20px 0;
}

#encriptador__keys{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw; 
}

#encriptador__contenedor{
    display:flex;
    /* jsutify es para el horizontal */
    justify-content: center;
    /* aling es para el vertical */
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;
    /* para centrar el contenedor verticalmente*/
    width: 100vw; 
}


@media (min-width:700px) { /* para las pantallas mayores a*/
    #encriptador{
    height: 100vh; 
    margin: 0;
    }
}

@media (max-width:330px) {/* para las pantallas menores a */
    *{
    min-width: none;
    }
}