button{
    font-weight: bold;
    text-align: center;
    transform: scaleY(1.2);
}

.encriptador__keys-button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 15%;
    background-color: antiquewhite;
}


#encriptador__input-encriptar{
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 40%;
    background-color: antiquewhite;
    transform: scale(1.2);
}

#encriptador__input-desencriptar{
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 40%;
    background-color: antiquewhite;
    transform: scale(1.2);
}

#encriptador__output-copiar{
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 80%;
    background-color: antiquewhite;
    transform: scale(1.2);
    
}