button{
    font-weight: bold;
    text-align: center;
    transform: scaleY(1.2);
    cursor: pointer;
    background-color: rgb(214, 220, 239);
}

.encriptador__button:hover{
    background-color: rgb(200, 208, 237);
    transition: 0.25s;
}

.encriptador__button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 15%;
}


#encriptador__input-encriptar{
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 40%;
    transform: scale(1.2);
}

#encriptador__input-desencriptar{
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 40%;
    transform: scale(1.2);
}

#encriptador__output-copiar{
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 80%;
    transform: scale(1.2);
    
}

button:hover{
    background-color: rgb(200, 208, 237);
    transition: 0.25s;
}