#encriptador__input{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
    max-width: 600px;
    min-width: 330px;
    height: 100%;   
}

#encriptador__form{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 40%;
    max-width: 600px;
    min-width: 330px;
}

#encriptador__input-text{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}

#encriptador__input-text::placeholder{
    font-size:3rem;
    text-align: center;
    vertical-align: middle;
    opacity: 0.6;
}

@media (min-width:700px) { /* para las pantallas mayores a*/

    #encriptador__input{
        width: 30%;
    }
}
