/* main{
    display: flex;
} */

#encriptador{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content:space-evenly;
    gap:30px;
    width: 100vw;
    height: 100vh;
    /*con esta altura vh hay problema cuando 
    el contenido del texto traducido es muy grande,
    se sale del fondo*/
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}

#encriptador__keys{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw; 
}

#encriptador__contenedor{
    display:flex;
    /* jsutify es para el horizontal */
    justify-content: center;
    /* aling es para el vertical */
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;
    /* para centrar el contenedor verticalmente*/
}


@media (min-width:700px) { /* para las pantallas mayores a*/
    #encriptador{
    height: 100vh; 
    margin: 0;
    }
    #encriptador__contenedor{
        gap: 50px;
    }
}

@media (max-width:330px) {/* para las pantallas menores a */
    *{
    min-width: none;
    }
}